@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*CART SECTION*/

.cartContainer {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  margin: 0 auto;
  padding: 20px;
  color: #333;
  background-color: whitesmoke;
}

.subContainer {
  margin: auto;
}
.cartContainer h2 {
  text-align: center;
  margin: 50px 0 50px 0;
  font-weight: 700;
  font-size: 1.5rem;
}

.cartContainer {
  display: flex;
  flex-direction: column;
}

.tableContainer {
  overflow-x: auto;
}

.productTable {
  width: 100%;
  border-collapse: separate;
}

.columnTitles {
  text-align: center;
  padding: 10px;
}
.columnTitle {
  font-weight: 400;
  font-size: 0.7rem;
}
.productDetails {
  display: flex;
  align-items: center;
}
.productItem td {
  font-weight: 500;
}
.imageContainer {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.productImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*  */
.removeButton {
  color: #f44336;
  border: none;
  font-weight: 400;
  font-size: 0.9rem;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.quantity {
  text-align: center;
}
.quantityValue {
  width: 20px;
  display: inline-block;
  text-align: center;
}

.quantityButton {
  background-color: #e0e0e0;
  color: #333;
  border: none;
  padding: 5px;
  margin: 0 5px;
  cursor: pointer;
}

.price,
.total {
  text-align: center;
}

.cartButtons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.clearCartButton,
.buyButton {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.clearCartButton {
  background-color: #f44336;
  color: white;
}

.buyButton {
  background-color: #4caf50;
  color: white;
}

.emptyCartContainer {
  text-align: center;
}

.emptyCartImage {
  width: 200px;
  height: 200px;
}

.emptyCartText {
  font-size: 18px;
  margin-top: 20px;
}

.total {
  width: 80px;
  text-align: center;
}

/**/
.cardContainer {
  max-width: 1200px;
}
.cardProduct {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  padding: 20px;
  background-color: rgb(243, 243, 243);
}
.card {
  width: 330px;
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.cardDescription {
  margin-top: 10px;
  padding: 0;
  color: #dbdbdb;
  font-family: "Roboto", sans-serif;
}

.cardDescription p {
  margin: 0;
  padding: 5px 0;
  color: #333;
}

.cardInformation {
  display: flex;
  justify-content: space-between;
  color: #959595;
}
.cardInformation p:nth-child(1) {
  color: #959595;
  font-size: 0.9rem;
  font-family: "Roboto", sans-serif;
}

.cardInformation p:nth-child(2) {
  color: #333;
  font-weight: 700;
}

.link {
  display: block;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: whitesmoke;
  text-decoration: none;
  transition: color 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  padding: 10px 20px;
  border-radius: 10px;
  background-color: slategray !important;
}

.link:hover {
  background-color: #13516d !important;
}
.cardImage {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  object-fit: contain;
  object-position: center;
}
.productCounter span {
  color: #333;
}

/*Category*/

.categoryContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0 20px 0;
}

.categoryButton {
  border: none;
  padding: 6px 10px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.categoryButton:hover {
  color: #333;
}

/**/

/*Purchase*/
.purchaseContainer {
  margin: 50px;
  overflow-x: auto;
}
.purchaseContainer p {
  font-weight: 500;
  margin-bottom: 20px;
}
.purchaseTitles {
  text-align: center;
}
.purchaseDetails td {
  padding: 10px;
}
.purchaseDetails td {
  margin: 10px;
}
.purchaseDetails tr > td {
  text-align: center;
}

.purchaseDetails tr > td:first-child {
  text-align: left;
}

/* .counterBtn span{
  position: relative;
  margin: auto;
  right: 3px;
  bottom: 2px;

} */
