@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

/*CART SECTION*/

/* Cart */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-8px);
  }
  60% {
    transform: translateY(-4px);
  }
}

.show {
  display: block;
  animation: bounce 0.5s ease infinite;
}

.cartContainer {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  margin: 0 auto;
  padding: 20px;
  color: #333;
  background-color: whitesmoke;
}
.cartContainer h2 {
  text-align: center;
  font-weight: bold;
}

.cartContainer {
  display: flex;
  flex-direction: column;
}

.tableContainer {
  overflow-x: auto;
}

.productTable {
  width: 100%;
  border-collapse: separate;
}

.columnTitles {
  text-align: center;
  padding: 10px;
}

.productDetails {
  display: flex;
  align-items: center;
}

.productImage {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.productInfo {
  flex-grow: 1;
}

.productName {
  margin: 0;
  font-weight: bold;
}

.removeButton {
  /* background-color: #f44336; */
  color: #333;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.quantity {
  text-align: center;
}
.quantityValue {
  width: 20px;
  display: inline-block;
  text-align: center;
}

.quantityButton {
  background-color: #e0e0e0;
  color: #333;
  border: none;
  padding: 5px;
  margin: 0 5px;
  cursor: pointer;
}

.price,
.total {
  text-align: center;
}

.cartButtons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.clearCartButton,
.buyButton {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.clearCartButton {
  background-color: #f44336;
  color: white;
}

.buyButton {
  background-color: #4caf50;
  color: white;
}

.emptyCartContainer {
  text-align: center;
}

.emptyCartImage {
  width: 200px;
  height: 200px;
}

.emptyCartText {
  font-size: 18px;
  margin-top: 20px;
}

.total {
  width: 80px;
  text-align: center;
}

/**/

.cardContainer {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card {
  width: 460px;
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cardDescription {
  margin-top: 10px;
  padding: 0;
  color: #dbdbdb;
  font-family: "Anton", sans-serif;
}

.cardDescription p {
  margin: 0;
  padding: 5px 0;
  color: #333;
}

.cardInformation {
  display: flex;
  justify-content: space-between;
  color: #959595;
}
.cardInformation p:nth-child(1) {
  color: #959595;
  font-size: 0.9rem;
  font-family: Arial, sans-serif;
}

.cardInformation p:nth-child(2) {
  color: #333;
  font-weight: 700;
}

.link {
  display: block;
  margin-top: 20px;
  text-align: center;
  color: whitesmoke;
  text-decoration: none;
  transition: color 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  padding: 10px 20px;
  border-radius: 10px;
  letter-spacing: 1.2px;
  background-color: #3d7bdf;
  font-family: "Anton", sans-serif;
}

.link:hover {
  background-color: #3b82f6;
}
.cardImage {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  object-fit: contain;
  object-position: center;
}
.cartBtn {
  position: relative;
  bottom: 20px;
}
