.cart {
  filter: invert(100%);
}

/* Cart */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-8px);
  }
  60% {
    transform: translateY(-4px);
  }
}

.show {
  display: block;
  animation: bounce 0.5s ease infinite;
}

.cartContainer {
  margin: 0 auto;
  padding: 20px;
  color: #333;
  background-color: whitesmoke;
}

.cartContainer h2 {
  text-align: center;
  font-weight: bold;
}

.cartContainer {
  display: flex;
  flex-direction: column;
}

.tableContainer {
  overflow-x: auto;
}

.productTable {
  width: 100%;
  border-collapse: separate;
}

.columnTitles {
  text-align: center;
  padding: 10px;
}

.productDetails {
  display: flex;
  align-items: center;
}

.productImage {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.productInfo {
  flex-grow: 1;
}

.productName {
  margin: 0;
  font-weight: bold;
}

.removeButton {
  /* background-color: #f44336; */
  color: #333;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.quantity {
  text-align: center;
}
.quantityValue {
  width: 20px;
  display: inline-block;
  text-align: center;
}

.quantityButton {
  background-color: #e0e0e0;
  color: #333;
  border: none;
  padding: 5px;
  margin: 0 5px;
  cursor: pointer;
}

.price,
.total {
  text-align: center;
}

.cartButtons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.clearCartButton,
.buyButton {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.clearCartButton {
  background-color: #f44336;
  color: white;
}

.buyButton {
  background-color: #4caf50;
  color: white;
}

.emptyCartContainer {
  text-align: center;
}

.emptyCartImage {
  width: 200px;
  height: 200px;
}

.emptyCartText {
  font-size: 18px;
  margin-top: 20px;
}

.total {
  width: 80px;
  text-align: center;
}
